<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDjCZ2S512VTz0NlEEcWr9sOXhoHpFgZDc</string>
	<key>GCM_SENDER_ID</key>
	<string>243479651931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mseuf.edu.ph.AniTrack</string>
	<key>PROJECT_ID</key>
	<string>anitrack-89d32</string>
	<key>STORAGE_BUCKET</key>
	<string>anitrack-89d32.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243479651931:ios:586f3d0a63906d365a417e</string>
</dict>
</plist>